.center {
  text-align: center;
}
#arrow-canvas {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -250px;
}
.container2 {
  width: 100%;
  height: 500px;
  text-align: center;
}
#canvas-container {
  position: relative;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 500px;
  height: 500px;
}
#circle{
  position: relative;
  margin: 0 auto;
  clip-path: circle(40%);
  cursor: move;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 500px;
  height: 500px;
}